* {
  margin: 0;
  padding: 0;
  /* font-family: "Bebas Neue", cursive; */
  font-family: Cambria, serif;
  text-transform: uppercase;
}

.header {
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../Images/lapang.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  flex: 1;
  text-align: right;
}

.nav-link ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
  position: relative;
}

.nav-link ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}

.nav-link ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: white;
  display: block;
  margin: auto;
  transition: 0.2s;
}

.nav-link ul li:hover::after {
  width: 100%;
}

.textbox {
  width: 90%;
  color: white;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.textbox h1 {
  font-size: 5rem;
}

.textbox h3 {
  margin: 10px 0 40px;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 1rem;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.hero-btn:hover {
  border: 1px solid blueviolet;
  background: blueviolet;
  transition: 0.4s;
}

nav .fas {
  display: none;
}

@media (max-width: 700px) {
  .textbox h1 {
    font-size: 1.5rem;
  }
  .nav-link ul li {
    display: block;
  }

  .nav-link {
    position: absolute;
    background: blueviolet;
    height: 50vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.4s;
  }
  nav .fas {
    display: block;
    color: white;
    margin: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .nav-link ul {
    padding: 30px;
  }
  .navigasisekbid ul {
    max-width: 600px;
  }
  .itembox h1 {
    font-size: 2rem;
  }
}
@media (max-width: 900px) {
  .navigasisekbid ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.btn {
  font-size: 3rem;
  color: white;
}

/* Berita */

.berita {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

p {
  color: white;
  font-size: 1rem;
  font-weight: 300px;
  line-height: 1.8rem;
  padding: 5px;
}

/* Kepengurusan */

input {
  display: none;
}

.kepengurusan {
  width: 100%;
  text-align: center;
}

/* ---------NAVIGASI GALERI----------- */

@media (max-width: 1100px) {
  .nav {
    width: 50%;
  }
  label {
    font-size: 12px;
  }
}

.nav {
  background-color: blueviolet;
  width: 90%;
  margin: 0 auto 20px auto;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px blueviolet;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
}

label {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 5px;

  /* margin: 0 20px; */
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: color 0.5s;
  position: relative;
  top: 0;
  left: 0;
}

label:hover {
  color: black;
}

.galeri {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  padding-bottom: 100px;
}

/* Kartu Nama */
.navigasisekbid {
  padding: 20px;
  margin: 40px auto;
}

.navigasisekbid ul {
  display: flex;
  justify-content: center;
}

.navigasisekbid ul li {
  list-style: none;
  border: 2px solid blueviolet;
  padding: 10px;
  cursor: pointer;
  letter-spacing: 2px;
  margin: 5px;
  border-radius: 50px;
  transition: 0.3s;
}

.navigasisekbid ul li:hover {
  background-color: blueviolet;
  color: white;
}

.navigasisekbid ul li.active {
  background: blueviolet;
  color: white;
}

h1 {
  text-align: center;
}

/* Kartu Nama */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 220px;
  height: 435px;
  border: 1px solid black;
  text-align: center;
  color: white;
  margin: 40px;
}

.card-content h3 {
  font-size: 17px;
}

.card-content p {
  font-size: 15px;
}

.card-head {
  width: 100%;
  height: 53%;
}

.card-head img {
  border-radius: 50%;
  height: auto;
}

.card-content {
  background-color: blueviolet;
  width: 100%;
  height: 47%;
}

.card-content .ig {
  border-radius: 50%;
  border: 1px solid white;
  transition: 0.5s;
}
.card-content .ig:hover {
  background: #f09433;
}

/* Tim Inti */

/* Footer */
.footer .ig,
.footer .fb,
.footer .twit {
  padding: 10px;
}
.footer {
  background-color: black;
  text-align: center;
  padding-top: 100px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer .fb:hover {
  background-color: blue;
}

.footer .ig:hover {
  background-color: purple;
}

.footer .yt:hover {
  background-color: purple;
}
.footer img {
  border-radius: 50%;
  transition: 0.6s;
}

.footer .yt {
  padding: 10px;
}

.footer .twit:hover {
  background-color: rgb(88, 88, 243);
}

.footer .yt:hover {
  background-color: red;
}

.footer h4 {
  color: whitesmoke;
}
